# lightning bolt
protected net.minecraft.world.entity.LightningBolt m_20870_(I)V # spawnFire
protected net.minecraft.world.entity.LightningBolt m_147150_(Lnet/minecraft/world/level/Level;Lnet/minecraft/core/BlockPos;)V # clearCopperOnLightningStrike
protected net.minecraft.world.entity.LightningBolt f_20860_ # life
protected net.minecraft.world.entity.LightningBolt f_147134_ # hitEntities
protected net.minecraft.world.entity.LightningBolt f_20861_ # flashes
protected net.minecraft.world.entity.LightningBolt f_20862_ # visualOnly
# font
public net.minecraft.client.gui.font.FontManager f_94999_ # fontSets
public net.minecraft.client.gui.font.FontManager f_94998_ # missingFontSet
public net.minecraft.client.Minecraft f_91045_ # fontManager